--registry "https://registry.npmmirror.com/"
"@hello:registry" "https://registry-npm.gaoding.com"
"@gaoding:registry" "https://registry-npm.gaoding.com"
"@ums:registry" "https://npm.huanleguang.com"
"@lego:registry" "https://registry-npm.gaoding.com"
--ignore-engines true
